
body {
    font-family: 'Nixie One', sans-serif;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;

}

h1 {
    font-size: 90px; /* Aumenta o tamanho da fonte */
}

nav {
    display: flex;
    gap: 10.5rem;
    margin-top: 1.5rem;
    padding: 10px;
    border-radius: 1px;
    gap: 30px; /* Adiciona um espaço de 10px entre os links */

}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.3s;
}

nav a:hover {
    color: #00aaff;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgb(196, 8, 8);
}

section h2 {
    margin-top: 0;
    color: #00060c;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project-card {
    border: 3px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h3, .project-card p, .project-card button {
    padding: 1rem;
}

.project-card.grow {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.grow-button {
    display: inline-block;
    padding: 0.5rem 3rem;
    background-color: #162b42;
    color: white;
    border-color: #00060c;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grow-button:hover {
    background-color: #00254c;
}

.project-card p {
    padding: 0 1rem 1rem;
    color: #555;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin-top: 2rem;
}

.button {
    left: 50px;
    right: 50px;
    align-items: center;
    display: inline-block;
    background-color: #aabacc;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
section {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra com deslocamento e suavização */
    padding: 20px; /* Adiciona algum espaço dentro da seção */
    margin: 20px 0; /* Dá espaçamento entre as seções */
    background-color: #fff; /* Pode adicionar um fundo para destacar mais a sombra */
    border-radius: 8px; /* Opcional: adiciona bordas arredondadas */
}

/* Tema escuro */
body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

button.dark-theme {
    background-color: #555555; /* Cor do botão no tema escuro */
    color: #ffffff; /* Cor do texto no tema escuro */
}